@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color-light: #ffffff;
  --background-color-dark: #333333;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
}

.main-container {
  background-color: var(--background-color);
  color: var(--text-color);
  /* Agrega más estilos según sea necesario */
}

.light-theme {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

.dark-theme {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  --background: #1a181f;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: #dfdae9;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}